@media only screen and (max-width:480px) {



    header {
        width: 480px;
    }

    .header-container {
        width: 480px;
        margin-left: 22px;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .header-text {
        width: 100%;
        margin-bottom: 50px;
    }

    .header-banner {
        overflow: hidden;
    }

    .header-banner img {
        width: 100%;

    }



    .Players {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        overflow: hidden;
        margin-left: 22px;
    }



}