/* ----------------------------------------
css responsive style for mobile screen 
---------------------------------------------*/

@media only screen and (max-width:480px) {


    /* header section */
    .header {
        width: 360px;
        height: 695px;
    }

    .header-container {
        width: 360px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .header-text {
        width: 278px;
        margin-left: 16px;
        margin-top: 112px;
    }

    .header-text h1 {
        font-size: 36px;
    }

    .header-banner {
        width: 330px;
        height: 360px;
    }

    .header-banner img {
        width: 330px;
        height: 260px;
        margin-top: 50px;
        margin-bottom: 60px;
    }


    /* article section */
    .Players {
        width: 330px;
        display: grid;
        margin-left: 24px;
        grid-template-columns: repeat(1, 1fr);
    }

    /* copa highlight section */
    .copa-highlight {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-top: -50px;
    }

    .copa-text {
        width: 300px;
    }

    .copa-text h1 {
        font-size: 30px;
    }

    .copa-text p {
        font-size: 16px;
        margin-bottom: 26px;
    }

    .copa-banner {
        width: 330px;
        margin-top: 30px;
    }

    .copa-banner img {
        width: 120%;
    }


    /* about section */

    .about-section {
        text-overflow: ellipsis;
        margin-top: 30px;
        text-align: center;
        margin-right: -50px;

    }

    .about-overly {
        margin-right: -50px;
    }

    .about-section p {
        width: 330px;
        height: 50px;
        overflow: hidden;

        text-overflow: ellipsis;
        margin-top: 30px;
        text-align: center
    }

    .about-btn {
        display: block;
        width: 100px;
        margin: 0 auto;
    }

    .about-btn:hover {
        background: none;
        border: 2px solid #E02C6D;
        color: #E02C6D;
        transition: .5s;
    }

    /* contact section */
    .contact-section {
        width: 360px;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .contact-banner {
        display: none;
    }

    .contact-form {
        display: block;
        width: 360px;
        margin-left: -170px;
        margin-top: -100px;
        margin-bottom: 100px;
    }


    /* fooeter section */
    .footer-section {
        margin-top: 100px;
        height: 360px;
        overflow: hidden;
    }

    .footer-logo img {
        width: 290px;
        margin-top: 200px;
    }


}






/* ----------------------------------------
css responsive style for tab screen 
---------------------------------------------*/

@media only screen and (min-width:481px) and (max-width:768px) {

    /* header section */
    header {
        width: 768px;
        height: 940px;

    }

    .header-container {
        width: 768px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .header-text {
        width: 500px;
        margin-left: 100px;
        margin-top: 112px;
    }

    .header-text h1 {
        font-size: 50px;
    }

    .header-banner {
        width: 400px;
        height: 360px;
    }

    .header-banner img {
        width: 600px;
        height: 400px;
        margin-top: 70px;
        margin-bottom: 60px;
        margin-left: 70px;
    }


    /* articale section */
    .Players {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 10px;

    }

    .player {
        width: 280px;
    }


    /* copa highlight section */
    .copa-highlight {
        display: flex;
        flex-direction: column;
        margin-top: -50px;
    }


    .copa-text {
        margin-bottom: 50px;
    }

    .copa-text h1 {
        font-size: 38px;
        margin-top: 100px;
    }

    .copa-banner img {
        width: 640px;
        height: 427px;
    }


    /* about section */
    .about-section {
        width: 768px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

    }

    .about-section p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .about-btn {
        display: inline-block;
    }


    /* contact section */

    .contact-banner {
        display: none;
    }

    .contact-form {
        display: block;
        width: 600px;
        margin-left: -240px;
        margin-top: 300px;
        margin-bottom: 100px;
    }


    /* footer section */
    .footer-section {
        margin-top: 200px;
        height: 360px;
        overflow: hidden;
        text-align: center;
        margin-left: 140px;
    }

    .footer-logo img {
        width: 290px;
        margin-top: 200px;
    }
}


/* --------------------------
the end css
------------------------------- */